h2 {
    text-align: center;
    margin: 0;
    padding: 10px 0px;
}
#city {
    margin: 0em;
}
#fiveDay{
    height: 20px;
}
#forecast{
    padding: 5px;
    margin-left: 10px;
}
#uvIndex{
    padding: 3px;
}
#history p{
    text-align: center;
    border: 1px solid gray;
    margin: 0px;
    padding: 7px 0px;
}
#spanDate {
    font-size: 18px;
}

#history {
    padding: 0px 5px;
}

.hisItem {
    cursor: pointer;
    background-color: ghostwhite;
}